<!-- begin::Header Nav -->
<ul class="menu-nav" [ngClass]="ulCSSClasses">
  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
      <span class="menu-text" translate="MENU.DASHBOARD"></span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  <!-- end::1 Level -->

  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/builder" routerLinkActive="active">
      <span class="menu-text">Builder</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  <!-- end::1 Level -->

  <!-- Classic submenu -->
  <!-- begin::1 Level -->
  <li
    [attr.data-menu-toggle]="headerMenuDesktopToggle"
    aria-haspopup="true"
    class="menu-item menu-item-submenu menu-item-rel"
    routerLinkActive="menu-item-active"
  >
    <a class="menu-link menu-toggle" href="/material" routerLinkActive="active">
      <span class="menu-text">Material UI</span>
      <i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
      <ul class="menu-subnav">
        <!-- Form Controls -->
        <!-- begin::2 Level -->
        <li
          class="menu-item menu-item-submenu"
          data-menu-toggle="hover"
          aria-haspopup="true"
          routerLinkActive="menu-item-active"
        >
          <a
            class="menu-link menu-toggle"
            href="/material/form-controls/autocomplete"
            routerLinkActive="active"
          >
            <span
              [inlineSVG]="'./assets/media/PenAndRuller.svg'"
              cacheSVG="true"
              class="svg-icon menu-icon"
            ></span>
            <span class="menu-text">Form Controls</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">
              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/autocomplete"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Autocomplete</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/checkbox"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Checkbox</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/radiobutton"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Radio Button</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/datepicker"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Datepicker</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/formfield"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Form Field</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/input"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Input</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/select"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Select</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/slider"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Slider</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/slidertoggle"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Slider Toggle</span>
                </a>
              </li>
              <!-- end::3 Level -->
            </ul>
          </div>
        </li>
        <!-- end::2 Level -->

        <!-- Navigation  -->
        <!-- begin::2 Level -->
        <li
          class="menu-item menu-item-submenu"
          data-menu-toggle="hover"
          aria-haspopup="true"
          routerLinkActive="menu-item-active"
        >
          <a
            class="menu-link menu-toggle"
            routerLinkActive="active"
            href="/material/navigation"
          >
            <span
              [inlineSVG]="'./assets/media/Up-down.svg'"
              cacheSVG="true"
              class="svg-icon menu-icon"
            ></span>
            <span class="menu-text">Navigation</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">
              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/navigation/menu"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Menu</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/navigation/sidenav"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Sidenav</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/navigation/toolbar"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Toolbar</span>
                </a>
              </li>
              <!-- end::3 Level -->
            </ul>
          </div>
        </li>
        <!-- end::2 Level -->

        <!-- Layout -->
        <!-- begin::2 Level -->
        <li
          class="menu-item menu-item-submenu"
          data-menu-toggle="hover"
          aria-haspopup="true"
          routerLinkActive="menu-item-active"
        >
          <a
            class="menu-link menu-toggle"
            routerLinkActive="active"
            href="/material/layout"
          >
            <span
              [inlineSVG]="
                './assets/media/Layout-right-panel-2.svg'
              "
              cacheSVG="true"
              class="svg-icon menu-icon"
            ></span>
            <span class="menu-text">Layout</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">
              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/layout/card"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Card</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/layout/divider"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Divider</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/form-controls/radiobutton"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Radio Button</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/layout/expansion-panel"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Expansion panel</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/layout/grid-list"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Grid list</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/layout/list"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">List</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/layout/tabs"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Tabs</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/layout/stepper"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Stepper</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/layout/tree"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Tree</span>
                </a>
              </li>
              <!-- end::3 Level -->
            </ul>
          </div>
        </li>
        <!-- end::2 Level -->

        <!-- Buttons and Indicators -->
        <!-- begin::2 Level -->
        <li
          class="menu-item menu-item-submenu"
          data-menu-toggle="hover"
          aria-haspopup="true"
          routerLinkActive="menu-item-active"
        >
          <a
            class="menu-link menu-toggle"
            routerLinkActive="active"
            href="/material/buttons-and-indicators"
          >
            <span
              [inlineSVG]="'./assets/Cupboard.svg'"
              cacheSVG="true"
              class="svg-icon menu-icon"
            ></span>
            <span class="menu-text">Buttons and Indicators</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">
              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/buttons-and-indicators/button-toggle"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Button</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/buttons-and-indicators/chips"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Chips</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/buttons-and-indicators/icon"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Icon</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/buttons-and-indicators/progress-bar"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Progress bar</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/buttons-and-indicators/progress-spinner"
                  routerLinkActive="true"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Progress spinner</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/buttons-and-indicators/ripples"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Ripples</span>
                </a>
              </li>
              <!-- end::3 Level -->
            </ul>
          </div>
        </li>
        <!-- end::2 Level -->

        <!-- Popups and Modals -->
        <!-- begin::2 Level -->
        <li
          class="menu-item menu-item-submenu"
          data-menu-toggle="hover"
          aria-haspopup="true"
          routerLinkActive="menu-item-active"
        >
          <a
            class="menu-link menu-toggle"
            routerLinkActive="active"
            href="/material/popups-and-modals"
          >
            <span
              [inlineSVG]="'./assets/Duplicate.svg'"
              cacheSVG="true"
              class="svg-icon menu-icon"
            ></span>
            <span class="menu-text">Popups and Modals</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">
              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/popups-and-modals/bottom-sheet"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Bottom sheet</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/popups-and-modals/dialog"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Dialog</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/popups-and-modals/snackbar"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Snackbar</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/popups-and-modals/tooltip"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Tooltip</span>
                </a>
              </li>
              <!-- end::3 Level -->
            </ul>
          </div>
        </li>
        <!-- end::2 Level -->

        <!-- Data table -->
        <!-- begin::2 Level -->
        <li
          class="menu-item menu-item-submenu"
          data-menu-toggle="hover"
          aria-haspopup="true"
          routerLinkActive="menu-item-active"
        >
          <a
            class="menu-link menu-toggle"
            routerLinkActive="active"
            href="/material/data-table"
          >
            <span
              [inlineSVG]="
                './assets/media/Layout-top-panel-4.svg'
              "
              cacheSVG="true"
              class="svg-icon menu-icon"
            ></span>
            <span class="menu-text">Data table</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">
              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/data-table/paginator"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Paginator</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/data-table/sort-header"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Sort header</span>
                </a>
              </li>
              <!-- end::3 Level -->

              <!-- begin::3 Level -->
              <li class="menu-item" routerLinkActive="menu-item-active">
                <a
                  class="menu-link"
                  routerLink="/material/data-table/table"
                  routerLinkActive="active"
                >
                  <i class="menu-bullet menu-bullet-dot"><span></span></i>
                  <span class="menu-text">Table</span>
                </a>
              </li>
              <!-- end::3 Level -->
            </ul>
          </div>
        </li>
        <!-- end::2 Level -->
      </ul>
    </div>
  </li>
  <!-- end::1 Level -->
</ul>
<!-- end::Header Nav -->
