<!-- Kaynak: E:\Projeler\Angular\EvTechPanelAltunkaya\src\app\evtech\components\stations\station-add\station-add.component.html -->
<!-- Pattern: Google Maps HTML — agm-map + agm-marker ile interaktif harita, markerDraggable ile sürüklenebilir pin,
  ülke/il/ilçe cascading select, mat-horizontal-stepper ile çok adımlı form, PixdinnDropzone entegrasyonu -->

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="form1.control">
    <form #form1="ngForm">
      <ng-template matStepLabel>İstasyon Detayları</ng-template>
      <div class="row ">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field style="width: 100%;">
                <mat-label>Telefon Numarası</mat-label>
                <input matInput [(ngModel)]="stationManagmentInsertModel.phone" name="phone">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field style="width: 100%;">
                <mat-label>Kullanım Alanları</mat-label>
                <mat-select [(ngModel)]="selectedTypesOfUsing" name="typesOfUsing" multiple>
                  <mat-option *ngFor="let typesOfUsing of stationInsertFormPrepareModel.typesOfUsing"
                    [value]="typesOfUsing.id">{{typesOfUsing.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field style="width: 100%;">
                <mat-label>Park Ücreti</mat-label>
                <input matInput [(ngModel)]="stationManagmentInsertModel.priceOfParkArea" name="priceOfParkArea"
                  currencyMask>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field style="width: 100%;">
                <mat-label>Park Araç Sayısı</mat-label>
                <input matInput type="number" [(ngModel)]="stationManagmentInsertModel.carCountOfParkArea"
                  name="carCountOfParkArea">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field style="width: 100%;">
                <mat-label>Firma</mat-label>
                <mat-select [(ngModel)]="stationManagmentInsertModel.companyId" name="company" #companySelection>
                  <mat-option *ngFor="let company of companyList" [value]="company.id">
                    {{company.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field style="width: 100%;">
                <mat-label>Ödeme Yöntemleri</mat-label>
                <mat-select [(ngModel)]="selectedPaymentMethods" name="paymentMethod" multiple>
                  <mat-option *ngFor="let paymentMethod of stationInsertFormPrepareModel.paymentMethod"
                    [value]="paymentMethod.id">{{paymentMethod.text}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field style="width: 100%;">
                <mat-label>Açılış Saati</mat-label>
                <input matInput type="time" [(ngModel)]="stationManagmentInsertModel.stationManagmentDetail.startTime"
                  name="startTime">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field style="width: 100%;">
                <mat-label>Kapanış Saati</mat-label>
                <input matInput type="time" [(ngModel)]="stationManagmentInsertModel.stationManagmentDetail.endTime"
                  name="endTime">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="form-button-group col-md-12">
        <button mat-button matStepperNext>İleri</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="form1.control">
    <form #form3="ngForm">
      <ng-template matStepLabel>İstasyon Adresi</ng-template>
      <div class="row ">
        <div class="col-md-12">
          <!-- AGM (Angular Google Maps) harita bileşeni -->
          <agm-map style="height: 300px;" #stationMapElement [(latitude)]="lat" [(longitude)]="lng" [zoom]="zoom"
            [disableDefaultUI]="false" [zoomControl]="false">
            <!-- Sürüklenebilir marker — dragEnd ile koordinat alınıyor -->
            <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false" (dragEnd)="markerDragEnd($event)">
            </agm-marker>
          </agm-map>
        </div>
        <div class="col-md-6">
          <mat-form-field style="width: 100%;">
            <mat-label>Enlem</mat-label>
            <input matInput [(ngModel)]="lat" name="latitude">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field style="width: 100%;">
            <mat-label>Boylam</mat-label>
            <input matInput [(ngModel)]="lng" name="longitude">
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <div class="row">
            <!-- Cascading dropdown: Ülke -> İl -> İlçe -->
            <div class="col-md-4">
              <mat-form-field style="width: 100%;">
                <mat-label>Ülke</mat-label>
                <mat-select placeholder="Ülke" (selectionChange)="changeCountrySelect($event)"
                  #stationManagmentAddressCountrySelect>
                  <mat-option *ngFor="let country of countryList" [value]=country>
                    {{country.countryName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%;">
                <mat-label>İl</mat-label>
                <mat-select placeholder="İl" (selectionChange)="changeCitySelect($event)"
                  #stationManagmentAddressCitySelect>
                  <mat-option *ngFor="let city of cityList" [value]=city>
                    {{city.cityName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field style="width: 100%;">
                <mat-label>İlçe</mat-label>
                <mat-select placeholder="İlçe" (selectionChange)="changeTownSelect($event)"
                  #stationManagmentAddressTownSelect>
                  <mat-option *ngFor="let town of townList" [value]=town>
                    {{town.townName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field style="width: 100%;">
                <mat-label>Mahalle</mat-label>
                <input matInput [(ngModel)]="stationManagmentInsertModel.stationManagmentAddress.neighbourhood"
                  name="neighbourhood">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field style="width: 100%;">
                <mat-label>Cadde/Sokak</mat-label>
                <input matInput [(ngModel)]="stationManagmentInsertModel.stationManagmentAddress.street" name="street">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field style="width: 100%;">
                <mat-label>Adres Açıklaması</mat-label>
                <textarea matInput name="addressDescription"
                  [(ngModel)]="stationManagmentInsertModel.stationManagmentAddress.description"> </textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="form-button-group col-md-12">
        <button mat-button matStepperPrevious>Geri</button>
        <button mat-button matStepperNext>İleri</button>
      </div>
    </form>
  </mat-step>

  <mat-step label="İstasyon Resimleri">
    <form #form5="ngForm">
      <ng-container>
        <div class="row">
          <!-- PixdinnDropzone ile çoklu resim yükleme -->
          <PixdinnDropzone style="width: 100%;" #addStationPictureDropzone [isSingleFileSelectable]="false"
            [multiple]="true" [accept]="'*'" [title]="'İstasyon Resmi'"></PixdinnDropzone>
        </div>
      </ng-container>
      <div class="form-button-group col-md-12">
        <button mat-button matStepperPrevious>Geri</button>
        <button mat-button (click)="save();">Kaydet</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
