<!-- KAYNAK: E:\Projeler\Angular\SarjAllProPanel\src\app\sarjAllPro\components\panelAdmin\panelAdmin-list\panelAdmin-list.component.html -->

<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label"> Admin Listesi</h3>
    </div>
    <div class="card-toolbar">
      <a (click)="onNewBtnClicked()" type="button" class="btn btn-primary ml-2" matTooltip="Yeni Admin Ekle">
        Yeni Admin Ekle
      </a>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtering-->
    <div class="row">
      <div class="form col-md-12" style="margin-bottom: 15px;">
        <div class="form-group ">
          <div class="row">
            <div class="col-lg-4">
              <mat-form-field class="example-full-width">
                <mat-label>İsim</mat-label>
                <input [(ngModel)]="searchCriterPanelAdmin.data.name" matInput>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field class="example-full-width">
                <mat-label>Soyad</mat-label>
                <input [(ngModel)]="searchCriterPanelAdmin.data.surname" matInput>
              </mat-form-field>
            </div>
            <div class="col-lg-4 " style="display:flex">
              <div class="button-row float-right">
                <button mat-raised-button matTooltip="Filtrele" color="primary"
                  type="button" (click)="getPanelAdmins(true)">Filtrele</button>&nbsp;
                <button mat-raised-button matTooltip="Temizle" color="accent" type="button"
                  (click)="clearParameters()">Temizle</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end: Filtering -->

    <div class="mat-table__wrapper">
      <mat-table #sortPanelAdminTable="matSort" [dataSource]="panelAdminList" matSort>
        <ng-container matColumnDef="Id">
          <mat-header-cell [style.flex]="'0 0 11%'" *matHeaderCellDef>#</mat-header-cell>
          <mat-cell [style.flex]="'0 0 11%'" *matCellDef="let row">
            {{row.id}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Name">
          <mat-header-cell [style.flex]="'0 0 17%'" *matHeaderCellDef mat-sort-header> İsim</mat-header-cell>
          <mat-cell [style.flex]="'0 0 17%'" *matCellDef="let row">{{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Surname">
          <mat-header-cell [style.flex]="'0 0 17%'" *matHeaderCellDef mat-sort-header> Soyad</mat-header-cell>
          <mat-cell [style.flex]="'0 0 17%'" *matCellDef="let row">{{row.surname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TypeName">
          <mat-header-cell [style.flex]="'0 0 10%'" *matHeaderCellDef mat-sort-header> Admin Tipi</mat-header-cell>
          <mat-cell [style.flex]="'0 0 10%'" *matCellDef="let row">{{row.typeName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="IsActive">
          <mat-header-cell [style.flex]="'0 0 10%'" *matHeaderCellDef> Aktiflik Durumu</mat-header-cell>
          <mat-cell [style.flex]="'0 0 10%'" *matCellDef="let row">
            <section class="example-section">
              <mat-slide-toggle
                (change)="changeActiveStateDialog(row.id, row.isActive, $event)"
                class="example-margin"
                [color]="'primary'"
                [checked]="row.isActive">
              </mat-slide-toggle>
            </section>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Edit">
          <mat-header-cell [style.flex]="'0 0 10%'" *matHeaderCellDef> </mat-header-cell>
          <mat-cell [style.flex]="'0 0 10%'" *matCellDef="let row">
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon aria-hidden="false">dehaze</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onEditBtnClicked(row.id)">Düzenle</button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="showingColumnNamesPanelAdminTable">
        </mat-header-row>
        <mat-row [ngClass]="{'high-light': rIndex % 2 == 0 }"
          *matRowDef="let row; columns: showingColumnNamesPanelAdminTable; let rIndex = index;">
        </mat-row>
      </mat-table>
    </div>
    <!-- end: Table -->

    <!-- begin: Pagination -->
    <div class="mat-table__bottom row">
      <div class="col-md-2">
        <span>Kayıt sayısı: <b>{{totalRecordSizePanelAdminTable}}</b></span>
      </div>
      <div class="col-md-10">
        <mat-paginator #paginatorPanelAdminTable [pageSize]="15" [pageSizeOptions]="[10, 15, 30]"
          [showFirstLastButtons]="true" [length]="totalRecordSizePanelAdminTable">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
